<% if defined?(title) %>
  <h1><%= title %></h1>
<% else %>
  <h1>Contests</h1>
<% end %>

<ul>
  <% @contests.each do |c| %>
    <% if c.listed_to?(current_user) %>
      <li><%= link_to c.title, c %></li>
    <% end %>
  <% end %>
</ul>
