<% unless request.xhr? %>
  <h1>Leaderboard for <%= @contest.title %></h1>
<% end %>

<% problems = @contest.problems %>

<table class="table table-hover">
  <thead>
    <th>User</th>
    <% problems.each do |problem| %>
      <th><%= link_to problem.title, problem %></th>
    <% end %>
    <th>Problems solved</th>
  </thead>

  <tbody>
    <% @contest.leaderboard.each do |row| %>
      <tr>
        <td><%= row[:user].username %></td>
        <% problems.each do |problem| %>
          <td><% if row[:problems][problem.id] %><i class="fa fa-check"></i><% end %></td>
        <% end %>
        <td><%= row[:num_solved] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
