<h1>New Contest</h1>

<%= form_for(@contest) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control" %>
  </div>

  <%= f.submit "Create", :class => "btn btn-primary" %>
<% end %>
