<h1><%= @contest.title %></h1>

<p>
  Status:
  <% if Time.now < @contest.start %>
    Not started
  <% elsif Time.now >= @contest.start && Time.now <= @contest.end %>
    In progress
  <% elsif Time.now > @contest.end %>
    Ended
  <% end %>
</p>

<% if signed_in? %>
  <% if @contest.participants.include?(current_user) %>
    <p>You are a participant.</p>
  <% elsif @contest.invited_users.include?(current_user) %>
    <p>
      You are invited.
      <%= link_to "Participate", participate_contest_path(@contest), :method => :post %>
    </p>
  <% else %>
    <p>You are not invited.</p>
  <% end %>
<% end %>

<% if signed_in? and current_user == @contest.creator %>
<h2>Invited Users</h2>
<ul>
  <% @contest.invited_users.each do |user| %>
    <li><%= link_to user.email, user %></li>
  <% end %>
</ul>

<h2>Participants</h2>
<ul>
  <% @contest.participants.each do |user| %>
    <li><%= link_to user.email, user %></li>
  <% end %>
</ul>
<% end %>
