<h3>Test Cases</h3>

<ul class="nav nav-tabs" role="tablist">
  <li ng-repeat="task in problem.tasks_attributes" ng-class="{'active': $index == 0}">
    <a href="#case-{{$index}}" role="tab" data-toggle="tab">
      Case {{$index + 1}}

      <span class="text-success" ng-show="task.solved"><i class="fa fa-check-circle"></i></span>
      <span class="text-danger" ng-show="!task.solved && task.attempted"><i class="fa fa-times-circle"></i></span>
    </a>
  </li>
</ul>

<div class="tab-content">
  <!-- Test Cases -->
  <div ng-class="{'tab-pane task': true, 'active': $index==0}" ng-repeat="task in problem.tasks_attributes" id="case-{{$index}}">
    <label>Test Case {{ $index + 1 }} <span ng-show="task.label.length">({{ task.label }})</span></label>
    <div ng-hide="task.json && task.input_fields">
      <pre class="task-case">{{ task.input }}</pre>
      <button type="button" class="btn btn-default" zero-clipboard="task.input">Copy</button>
    </div>

    <div ng-show="task.json && task.input_fields">
      <div class="form-group input-group" ng-repeat="field in task.input_fields">
        <span class="input-group-addon">{{ field.label }}</span>

        <input type="text" class="form-control task-input" readonly ng-value="field.content" ng-if="field.content.trim().indexOf('\n') == -1">

        <textarea class="form-control task-input" readonly ng-if="field.content.trim().indexOf('\n') != -1">{{ field.content }}</textarea>

        <span class="input-group-btn">
          <button class="btn btn-default" type="button" zero-clipboard="field.content">Copy</button>
        </span>
      </div>
    </div>
    <br/>
    <form action="<%= submissions_path %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="submission[task_id]" ng-value="task.id">
      <input type="hidden" name="submission[code]" ng-value="task.submission.code">

      <div class="form-group">
        <label>Answer</label>
        <textarea class="form-control" ng-model="task.submission.input" name="submission[input]" ng-disabled="{{ task.solved }}" ng-class="{'disable-select': task.solved}"></textarea>
      </div>

      <p class="help-block" ng-show="isNumber(task.submissions_left) && !task.solved">
        You have {{ task.submissions_left }} submissions left.
      </p>

      <input type="submit" class="btn btn-primary" ng-class="{disabled: !task.submission_allowed || task.solved}" value="Submit">

      <span class="label label-success" ng-show="task.solved">Solved!</span>
      <span class="label label-danger" ng-show="!task.solved && task.attempted">Wrong answer</span>
    </form>
  </div>
</div>
