<h1>Problems</h1>

<ul>
    <% @problems.each do |problem| %>
      <% if problem.listed_to?(current_user) %>
        <li><%= link_to problem.title, problem %></li>
      <% end %>
    <% end %>
</ul>
