<div class="form-group">
  <label>Python Code</label>
  <textarea class="form-control replit-input"><%= code %></textarea>
  <ul class="list-unstyled replit-output"></ul>
  <button type="button" class="btn btn-default disabled replit-run">Run</button>
</div>
