<%
  show_label = true unless local_assigns.has_key?(:show_label)
  code       = ""   unless local_assigns.has_key?(:code)
%>

<div class="form-group">
  <% if show_label %>
    <label>Python Code</label>
  <% end %>
  <div data-ace-editor class="replit-input"><%= code %></div>
  <ul class="list-unstyled replit-output"></ul>
  <button type="button" class="btn btn-default disabled replit-run">Run</button>
</div>
