<h1>User Details</h1>

<p>Email: <%= @user.email %></p>

<h2>Problems by user</h2>
<% if @user.set_problems.any? %>
  <ul>
    <% @user.set_problems.each do |problem| %>
      <li><%= link_to problem.title, problem %></li>
    <% end %>
  </ul>
<% else %>
  <p>None.</p>
<% end %>

<h2>Contests by user</h2>
<% if @user.created_contests.any? %>
  <ul>
    <% @user.created_contests.each do |contest| %>
      <li><%= link_to contest.title, contest %></li>
    <% end %>
  </ul>
<% else %>
  <p>None.</p>
<% end %>

<h2>Solved problems</h2>
<% if @user.solved_problems.any? %>
  <ul>
    <% @user.solved_problems.each do |problem| %>
      <li><%= link_to problem.title, problem %></li>
    <% end %>
  </ul>
<% else %>
  <p>None.</p>
<% end %>
