<h1>Submission <%= @submission.id %></h1>
<h2>Input</h2>
<%= render :partial => 'problems/task_input', :locals => { :task => @submission.task } %>
<h2>Your Answer</h2>
<pre><%= @submission.input %></pre>

<% unless @submission.code_link.empty? %>
  <p>
    <%= link_to "Link to code", @submission.code_link, :target => "_blank" %>
  </p>
<% end %>

<p>
  Status:
  <% if @submission.accepted? %>
    <span class="label label-success">Accepted</span>
  <% elsif @submission.accepted.nil? %>
    <span class="label label-warning">Ungraded</span>
  <% else %>
    <span class="label label-danger">Wrong Answer</span>
  <% end %>
</p>
