<h1>Submission <%= @submission.id %></h1>
<h2>Input</h2>
<%= render :partial => 'problems/task_input', :locals => { :task => @submission.task } %>
<h2>Your Answer</h2>
<pre><%= @submission.input %></pre>

<% unless @submission.code.empty? %>
  <h2>Code</h2>
  <%= render :partial => "partials/python_interpreter", :locals => { :code => @submission.code, :show_label => false } %>
<% end %>

<p>
  Status:
  <% if @submission.accepted? %>
    <span class="label label-success">Accepted</span>
  <% elsif @submission.accepted.nil? %>
    <span class="label label-warning">Ungraded</span>
  <% else %>
    <span class="label label-danger">Wrong Answer</span>
  <% end %>
</p>
