<h1>Submission <%= @submission.id %></h1>
<h2>Input</h2>
<p class="well"><%= @submission.task.input %></p>
<h2>Your Answer</h2>
<p class="well"><%= @submission.input %></p>

<% if @submission.code_link %>
  <p>
    <%= link_to "Link to code", @submission.code_link %>
  </p>
<% end %>

<p>
  Status:
  <% if @submission.accepted? %>
    <span class="label label-success">Accepted</span>
  <% elsif @submission.accepted.nil? %>
    <span class="label label-warning">Ungraded</span>
  <% else %>
    <span class="label label-danger">Wrong Answer</span>
  <% end %>
</p>
