// Place all the styles related to the problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.problems.show
    .container 
        width: 100%

.task 
    .task-case 
        max-height: 180px
        overflow-y: scroll

.task-input[readonly] 
    cursor: auto
    background-color: white


pre.repl-log 
    color: inherit
    background-color: inherit

// Show styles
.form-group, .col-md-6
    height: 100% !important

.jsrepl-container 
    margin-top: 10px
    height: 100%

.terminal
    margin-top: 0px
    position: relative
    height: 40%
    interactive-terminal
        width: 100% !important
        height: 100%
        display: block
        position: static
        pre
            border-radius: 0px
            border: 0
            border-top: 1px solid #555
            overflow: hidden

.editor
    height: 50% !important
    overflow: hide
    .ace_editor
        height: 100% !important

.problem-container
    overflow: hidden


.problem-area
    overflow-y: scroll
    height: 100%
    margin-bottom: 36px



@media(max-width: 996px)
    .problem-area
        overflow: auto
        height: 100%
    
    .problem-container
        overflow: display
        height: 100% !important

    interactive-terminal, .ace_editor
        height: 400px !important
    
    .form-group, .col-md-6, .ace_editor
        height: auto

// Edit styles
textarea#problem_statement
    min-height: 500px

